@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	font-family: 'Open Sans', sans-serif;
}

.test-border {
	border: 2px solid red;
}

.test-border-green {
	border: 2px solid green;
}

@media only screen and (min-width: 620px) {

	/* navigation sytles */
	
	.active {
		background-color: grey;
	}
	
	header {
		margin: 0;
		background-color: black;
	}
	
	.main-nav {
		height: 40px;
	}
	
	.main-nav ul {
	text-align: right;
	margin: 0;
	padding: 0;
	overflow: auto;
	}
	
	.main-nav li {
		display: inline-block;
		overflow: auto;
	}
	
	.main-nav li:hover {
		background-color: darkgray;	
	}
	
	.main-nav a {
		padding: 0 10px;
		line-height: 40px;
		width: 100px;
		height: 40px;
		text-decoration: none;
		color: white;
		display: block;
	}
	
	/* dropdown list styles */
	
	.dropdown {
		position: absolute;
		top: 40px;
		background-color: black;
		display: none;	
		overflow: auto;
		z-index: 100;
	}
	
	.dropdown li {
		display: block;
	}
	
	.dropdown a {
		width: 60px;
	}
	
	li:hover > .dropdown {
		display: block;
		width: 120px;
	}

}
